
/* md */
@media (min-width: 992px) and (max-width: 1199px) {
	.banner-form .form-control, 
	.banner-form .category-dropdown{
		height:45px;
	}
	.banner-form button.form-control {
		height:48px;
	}
	.download-app{
		padding:10px 20px;
	}
	.category-list .category-item, 
	.single-service {
		width:33%;
	}
	.banner-form-full.banner-form input {
		min-width:334px;
	}
	.ad-meta{
		left:inherit;
		right:0;
		width:150%;
	}
	.job-profile .user {
		width:40%;
	}
	.congratulations {
		padding:80px;
		padding-bottom:90px;
	}
	.job-category-items .category-title {
		font-size: 14px;
	}
	.job-ad-item .button {
		position: absolute;
		top: 0;
		right: 0;
	}
	.job-ad-item .btn.btn-primary {
		margin-top: 15px;
		margin-right: 15px;
	}
	.job-details .button {
		position: static;
	}	
	.latest-jobs-ads .item-info, 
	.latest-jobs-ads .job-ad-item {
		min-height: inherit !important;
	}
	.workshop-traning .ad-meta {
		width: 100%;
	}
	.featureds.explore-nearby .featured {
		min-height: 365px;
	}
	.job-list-item .ad-meta li:last-child {
		margin-left: 0;
		margin-top: 10px;
	}
	.job-list-item .job-ad-item .item-image {
		margin-top: 20px;
	}
	.job-details .job-ad-item .btn.btn-primary {
		position: inherit;
		padding: 10px 20px;
	}
	.job-details .job-ad-item .ad-meta li:last-child {
		margin-left: 0;
		margin-top: 10px;
	}
	.job-short-info li span.icon {
		margin-right: 0;
	}	
	.job-short-info li span.text-center {
		display: inline-block;
	}
	.post-resume .upload-image.left {
		width: 65%;
		font-size: 14px;
		background-image: none;
	}
	.post-resume .upload-image {
		width: 33%;
	}
	.latest-jobs-ads .item-image-box {
		width: inherit;
	}	
	.select-price input[type="text"] {
		margin: 0 6px;
	}
	.job-list-item .item-image-box  {
		width: 22%;
	}
	.job-list-item .ad-info {
		width:78%;
	}
	.job-details .item-image-box {
	    width: 11%;
	}	
	.job-details .ad-info {
		width:89%;
	}
	.job-details .social-media .btn.btn-primary {
		margin-top: 0;
	}



}


/* sm */
@media (min-width: 768px) and (max-width: 991px) {
	#header a.btn {
		position:absolute;
		bottom: -38px;
		right:20px;
		z-index: 99;
	}
	.banner-form input {
		min-width: 355px;
	}
	.banner-section h1.title, 
	.banner h1.title {
		font-size: 45px;
		line-height: 50px;
	}
	.banner-form .form-control, 
	.banner-form .category-dropdown {
		height:44px;
	}
	.banner-form button.form-control{
		height:47px;
	}
	.banner-form.banner-form-full button.btn.btn-primary {
		height:45px;
		right: 0;
	}	
	.category-list .category-item {
		width:33%;
	}
	.ad-info .item-title {
		font-size:16px;
	}
	.ad-meta .user-option a {
		font-size:16px;
	}
	.single-cta {
		padding: 0 10px;
	}
	.download-app {
		min-height:145px;
		text-align:center;
	}
	.download-app img {
		float:none;
		display:inline-block;
		margin-bottom:5px;
	}
	.footer-widget ul li a{
		font-size:16px;
		line-height:22px;
	}
	.footer-widget h3{
		font-size:22px;
		margin-bottom:25px;
	}
	.footer-widget ul li a i{
		font-size:38px;
	}

	.banner-form-full.banner-form .form-control, 
	.banner-form-full.banner-form .category-dropdown {
		width: 49%;
		border-right: 1px solid #e8e8e8;
		border-bottom: 1px solid #e8e8e8;
		margin-left: 0px;
	}
	.banner-form-full.banner-form .category-dropdown.language-dropdown{
		border-right:0;
	}
	.banner-form-full.banner-form input[type="text"]{
		margin-left: 0px;
		min-width:80%;
		border-right: 1px solid #e8e8e8;
		border-bottom:0;
		border-radius:4px;
	}

	#view-ad h2 {
		font-size:50px;
	}
	#services-ad .services {
		padding:25px;
	}
	.single-service {
		width:32%;
	}
	
	/* ad post */
	.post-option {
		margin-bottom:25px;
		padding-bottom:0;
	}
	.ad-section {
		margin: 20px 0;
	}
	.job-profile .user{
		width:40%;
	}
	
	.job-profile .my-ads, .job-profile .favorites {
		padding:30px;
	}
	.job-profile .user-menu li{
		padding:15px;
	}
	.ad-meta{
		left:inherit;
		right:0;
		width:150%;
	}
	.congratulations {
		padding:50px;
		padding-bottom:65px;
	}
	.congratulations h4{
		font-size:20px;
	}
	
	.contact-info h2 {
		font-size:24px;
	}
	.category-menu {
		width: 25%;
	}
	.pricing-section .pric h3 sup {
		top: -20px;
	}
	.category-menu {
		margin-top: 0;
	}	
	.page .category-section .section-title {
		margin-bottom: 25px;
	}	
	.banner-job h1 {
		font-size: 40px;
	}
	.job-ad-item .btn.btn-primary {
		margin: 0;
	}
	.job-category-items .category-list .category-item {
		width: 25%;
	}
	.job-ad-item .item-image-box {
		width: 16%;
	}		
	.job-list-item .item-image-box {
		width: 25%;
	}
	.job-ad-item .ad-info {
		width: 84%;
		padding: 0 15px;
	}
	.job-list-item .job-ad-item .ad-info {
		width: 75%;
	}
	.job-ad-item .ad-meta li:last-child {
		margin-left: 0;
		margin-top: 10px;
	}
	.workshop-traning .ad-meta {
		width: 100%;
	}
	.featureds.explore-nearby .featured {
		min-height: 395px;
	}
	.banner-form-full .language-dropdown {
		margin-left: -3px !important;
		border-radius: 0;
	}	
	.job-list-item .job-ad-item, 
	.job-list-item .item-info {
		min-height: 125px;
	}
	.banner-form-full.banner-form input[type="text"] {
		border-right: 0;
	}
	.banner-form-full.banner-form button.form-control {
		border: 0;
	}
	.job-list-item .job-ad-item .item-image {
		margin-top: 20px;
	}	
	.social-media {
		margin-left: 0;
	}
	.job-details .job-ad-item .btn.btn-primary {
		position: inherit;
		padding: 10px 20px;
	}
	.share-social li + li {
		margin-left: 15px;
	}
	.job-details .ad-info {
		margin-bottom: 30px;
	}
	.job-details .job-ad-item .ad-meta li {
		line-height: 30px;
	}
	.job-details .job-ad-item .ad-meta li:nth-child(4) {
		margin-left: 0;
	}
	.job-details .job-ad-item .ad-meta li:last-child {
		margin-left: 20px;
		margin-top: 0;
	}
	.job-short-info li span.icon {
		margin-right: 0;
	}
	.educational-info li ul li + li {
		margin-left: 20px;
	}
	.educational-info li ul li:last-child {
		margin-left: 0;
	}
	.post-resume .buttons {
		margin-bottom: 20px;
	}
	.post-resume form .buttons{
		margin-bottom: 0;
	}



}


/* xs */
@media (max-width: 767px) {
	h1 {
		font-size:30px;
	}
	h2 {
		font-size:22px;
	}
	h3{
		font-size:18px;
	}
	h4 {
		font-size:16px;
	}
	h5 {
		font-size:14px;
	}
	
	#header a.btn {
		position:absolute;
		top:12px;
		right:65px;
		padding:4px 15px 6px;
	}
	.language-dropdown a {
		font-size:14px;
	}
	.nav li a, .navbar-default .navbar-nav > li > a {
		padding:10px 12px;
	}
	.banner-job h1 {
		font-size: 36px;
		line-height: 38px;
	}
	.banner-section h3 {
		font-size:18px;
	}
	
	.banner-form .form-control, 
	.banner-form .category-dropdown,
	.banner-form button.btn.btn-primary {
		max-width: 100%;
		min-width: 100%;
		width: 100%;
		border-radius:4px;	
		margin-left:0;
		border-bottom:1px solid #e6e6e6;
		border-right:0;
	}
	.banner-form button.btn.btn-primary {
		margin-bottom:0;
		position:inherit;
		right:0;
		bottom: 0;
	}
	.category-list .category-item {
		width: 47%;
	}
	.ad-section {
		margin: 0 0 25px;
	}
	.job-ad-item .ad-info {
		min-height: 150px;
	}
	.ad-info .item-title {
		font-size:16px;
	}
	.ad-info .item-cat {
		font-size:12px;
	}
	.ad-info .item-price {
		font-size:18px;
	}	
	.single-cta {
		margin-bottom:35px;
	}
	.download-app {
		margin-bottom:25px;
	}
	.footer-top {
		padding: 20px 0 40px;
	}
	.footer-widget h3 {
		margin-bottom:20px;
	}
	.footer-widget ul li a {
		font-size:16px;
		line-height:22px;
	}
	.social-widget ul li a {
		margin:10px 0;
	}
	.footer-widget ul li a i{
		font-size:36px;
	}
	#download {
		padding: 25px 0 50px;
	}
	
	.banner-form-full.banner-form input {
		min-width: 100%;
	}
	.pagination > li > a, 
	.pagination > li > span{
		padding:3px 8px;
	}
	.banner-form button.form-control {
		margin-left:0;
		border-radius:4px;
	}
	#view-ad h1{
		margin:0;
	}
	#view-ad h2 {
		font-size:40px;
		margin:5px 0 20px;
	}
	.ad-btn {
		margin-bottom:30px;
	}
	#view-ad img {
		display:none;
	}
	#services-ad .services{
		padding:25px;
	}
	.single-service {
		width:49%;
		margin-bottom:0;
		padding: 10px;
	}
	
	.breadcrumb-section h2.title {
		font-size:24px;
		line-height:26px;
	}
	/* ad post */
	.post-option li a {
		font-size:14px;
	}
	.select-category span.select {
		margin-right:20px;
	}
	.post-option {
		margin-bottom:20px;
		padding-bottom:0;
	}
	.post-option.next-stap {
		padding: 10px 25px;
		margin-bottom:35px;
	}
	.next-stap h2, 
	.job-profile .user h2 {
		font-size:24px;
	}
	
	/* my adds */
	
	.user-images {
		margin-top:20px;
		width:20%
	}
	.job-profile .user {
		width:75%;
		padding-left: 15px;
	}
	.favorites-user {
		float: right;
		padding-bottom:20px;
	}
	.job-profile .my-ads, .job-profile .favorites {
		padding:0 20px;
		border-left:0;
	}
	.job-profile .favorites-user a {
		font-size:30px;
	}
	.job-profile .favorites-user small{
		font-size:13px;
	}
	.job-profile .user-menu li {
		border: 1px solid #f5f5f5;
	}
	.job-profile .user-menu li a {
		font-size:14px;
	}
	.job-profile .user h5 {
		font-size:14px;
	}
	.user-profile {
		margin-bottom:15px;
	}
	.job-profile .user-menu li {
		padding: 12px 19px;
	}
	.user-pro-section .section {
		padding: 10px 20px;
	}
	.user-pro-section label{
		font-size:14px;
	}
	.user-pro-section .form-control{
		width:70%;
	}
	.user-pro-section select, 
	.user-pro-section input {
		font-size: 14px;
		height: 35px;
	}
	.ad-meta .meta-content {
		padding:5px;
	}
	.ad-meta .meta-content .visitors {
		display:block;
	}
	#something-sell h2.title {
		font-size: 28px;
		line-height: 32px;
	}
	.congratulations {
		padding: 60px 25px;
		padding-bottom: 70px;
	}
	/* category */
	.job-list-item {
		padding: 20px 30px 15px;
	}
	.job-list-item h4{
		display:inline;
	}
	.pagination > li > a{
		font-size:12px;
	}
	/* sign up */
	.user-account {
		padding:30px 30px 40px;
	}
	.user-account  h2{
		margin-bottom:35px;
	}
	.user-page .btn-primary {
		padding: 10px 30px;
		font-size: 16px;
	}
	.contact-info, .feedback {
		min-height: inherit;
	}
	.contact-info {
		margin-bottom:25px;
	}
	.contact-info h2{
		margin-top:0;
	}
	
	/* ad details */
	.selected-product .select-category li {
		margin-bottom:5px;
		margin-right:0px;
	}
	.postdetails li a{
		font-size:14px;
	}
	.selected-product .select-category li.active {
		padding-left:70px;
	}
	.job-postdetails .form-group {
		margin-bottom:20px;
	}
	.job-postdetails label.label-title{
		padding-top:0;
	}
	.add-image label.upload-image:before {
		font-size:26px;
		margin-left:-11px;
	}
	.select-price input[type="text"]{
		max-width:190px;
	}
	.checkbox label {
		margin-right:20px;
	}
	.job-postdetails label {
		font-size:14px;
	}
	.btn.btn-primary {
		padding:8px 30px 10px;
		font-size:16px;
	}
	section {
		padding:30px 0;
	}
	.short-info li a {
		font-size:14px;
	}
	.pagination {
		margin-top:0;
		margin-bottom:25px;
	}
	.category-menu {
		width: 50%;
		margin-top: 0;
	}
	.page .section-title {
		margin-bottom: 20px;
	}
	.category-section .section-title h4,
	.category-section .section-title h5 {
		float: none;
	}	
	.banner-job .category-dropdown {
		padding: 0 15px;
	}
	.job-category-items .category-list .category-item {
		width: 50%;
	}
	.job-ad-item .item-info{
		text-align: left;
	}
	.job-ad-item .item-image-box, 
	.job-ad-item .ad-info {
		float: none;
	}
	.job-ad-item .item-image {
		
	}
	.job-ad-item .ad-meta li {
		float: none;
		margin-bottom: 5px;
		margin-left: 0;
	}
	.job-ad-item .button {
		float: none;
	}
	.job-ad-item .btn.btn-primary {
		margin: 0;
	}
	.job-ad-item .ad-info span {
		font-size: 18px;
		line-height: 20px;
		margin-bottom: 20px;
	}
	.job-ad-item .ad-info {
	    padding: 15px 0;
	}
	.job-ad-item {
		padding: 40px;
	}
	.latest-jobs-ads {
		margin-bottom: 25px;
	}
	.workshop-traning .workshop {
		margin-bottom: 15px;
	}
	.banner-job .dropdown-menu {
		width: 100%;
	}
	.tab-manu .nav-tabs li a {
		padding: 10px;
	}
	.explore-nearby {
		padding-bottom: 0;
	}
	.social-media {
		margin-left: 0;
	}
	.job-details .ad-info {
		margin-bottom: 15px;
	}
	.job-short-info li span.text-center {
		display: inline-block;
	}
	.directory.page .banner-form-full .language-dropdown {
		margin-left: 0;
	}
	.job-postdetails .location .category-dropdown {
		min-width: 48%;
	}
	.educational-info li ul li {
		float: none;
	}
	.educational-info li ul li+li {
		margin-left: 0;
	}
	.resume-content .icons {
		margin-right: 15px;
	}
	.language-proficiency ul > li+li {
		margin-left: 0;
		padding-left: 5px;
		border-left: 0;
	}
	.language-proficiency ul li {
	    margin-bottom: 5px;
	    overflow: hidden;
	    width: 49%;
	}
	.language-proficiency ul > li ul li {
		width: inherit;
	}
	.personal-info .address li h5 {
		min-width: 110px;
	}
	.personal-info .address li span {
		margin-right: 10px;
	}
	.download-button.resume {
		float: none;
	}
	.download-button.resume a.btn {
		margin-left: 0;
	}
	.profile-logo {
		margin-right: 20px;
	}
	.sign-in li {
		margin: 0 0 5px;
	}
	.profile-details.section,
	.change-password.section {
		margin-bottom: 0;
	}
}

/* XS Portrait */
@media (max-width: 479px) {
	.tab-manu .nav-tabs li a {
		padding:10px 6px;
	}
	.download-app {
		padding:10px 18px;
	}
	.download-app strong {
		font-size:20px;
	}
	.banner-form-full.banner-form input {
		min-width:100%;
	}
	/* my adds */
	
	.user-images {
		width:100%
	}
	.job-profile .user {
		width:100%;	
	}
	.job-profile {
		position:relative;
	}
	.favorites-user {
		position:absolute;
		top:25px;
		right:20px;
	}
	.job-profile .my-ads, 
	.job-profile .favorites {
		padding: 0 10px;
		border-left: 0;
	}
	.job-profile .user-menu li {
		padding: 10px 14px;
	}
	.single-cta {
		margin-bottom: 0;
	}
	.ad-meta{
		padding-left:16px;
	}
	.ad-meta .user-option a{
		width:25px;
		height:25px;
		line-height:25px;
	}
	#something-sell h2.title {
		font-size: 25px;
		line-height: 28px;
	}
	.congratulations {
		padding: 45px 15px;
		padding-bottom: 50px;
	}
	.congratulations h4{
		font-size:18px;
	}
	.congratulations i {
		font-size: 45px;
		margin-bottom: 10px;
	}
	.job-list-item h4{
		display:block;
	}
	.user-option .forgot-password{
		float:left !important;
	}
	.user-account .checkbox label{
		margin:0;
	}
	.user-account .user-option{
		margin-top:20px;
	}
	.ad-details-page h4 span{
		display:none;
	}
	/* ad details */
	.postdetails .edit{
		right:0;
		top:-15px;
	}
	.add-image label.upload-image {
		margin-left:10px;
		height:60px;
	}
	.select-price input[type="text"]{
		margin:10px 0;
	}

	.category-menu {
		width: 100%;
	}	
	.job-category-items .category-list .category-item {
		width: 100%;
	}	
	.job-ad-item .ad-info span {
		font-size: 16px;
	}
	.job-ad-item {
		padding: 20px;
	}
	.social-media .btn.btn-primary.bookmark {
		margin-top: 10px;
	}
	.share-social li + li {
		margin-left: 7px;
	}
	.job-short-info li span.icon {
		margin-right: 0;
	}
	.user-account .nav-tabs {
		margin-bottom: 45px;
	}
	.user-account .nav-tabs > li a {
		padding: 10px 15px;
	}
	.job-postdetails .location .category-dropdown {
		min-width: 100%;
		margin-bottom: 10px;
	}	
	.job-postdetails .location .form-group {
		margin-bottom: 10px;
	}

	.language-proficiency ul > li {
		width: 100%;
	}
	.language-proficiency ul > li+li {
		margin-left: 0;
		padding-left: 5px;
		border-left: 0;
		margin-bottom: 10px;
	}
	.language-proficiency ul > li ul li {
		width: inherit;
	}
	.download-button {
		float: none;
	}
	.download-button a.btn {
		margin-left: 0;
	}	
	.profile-logo {
		margin-bottom: 20px;
		float: none;
	}
	.resume-content .career-info, 
	.resume-content .declaration-info, 
	.resume-content .work-info, 
	.resume-content .educational-info, 
	.resume-content .qualification, 
	.resume-content .personal-info,
	.proficiency {
		overflow: visible;
	}
	.personal-info .address li h5 {
		min-width: initial;
		margin-top: 7px;
	}
	.personal-info .address li span {
		margin-right: 0;
	}
	.post-resume .photos-resume input {
		width: 100%;
		float: none;
	}
	.post-resume .upload-image {
		float: none;
		width: 50%;
		margin-top: 20px;
		overflow: hidden;
	}
	.post-resume .photos-resume {
		margin-bottom: 0;
	}
	.post-resume .time-period input {
		width: 100%;
	}
	.post-resume .time-period span {
		display: none;
	}
	.post-resume .time-period .pull-right {
		margin-top: 20px;
	}
	.post-resume form .buttons a.btn.delete {
		margin-left: 0;
	}
	.post-resume form .buttons a.btn {
		padding: 10px 15px 8px;
	}
	.post-resume .upload-image.left {
		width: 100%;
		background-image: none;
		margin-bottom: 20px;
	}
	.preferences-settings .buttons .btn.cancle {
		margin-left: 0;
	}
	.job-profile .user {
		padding-left: 0;
	}
	.job-ad-item .ad-info span a {
		font-size: 16px;
	}
	.tab-manu .nav-tabs li a {
		margin-top: 3px;
	}

}

